

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 Hour Tracker, Inc</p>

    <!-- <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_WMn4Hf.json"  background="transparent"  speed="1"  style="width: 230px; height: 230px;"  loop  autoplay></lottie-player> -->

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="https://buy.stripe.com/eVa17D0ty0UggAUdQQ" class="nav-link px-2 text-muted">Support the platform</a></li>
      <li class="nav-item"><a href="/feedBack" class="nav-link px-2 text-muted">Give FeedBack </a></li>

      
    </ul>
  </footer>