<%- include("_navbar") -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/calculateHours">
        <label for="checkIn">Enter the first Hour</label>
        <input required type="time" name="checkIn" />
        <label for="clockOut">Enter the second Hour</label>
        <input required type="time" name="clockOut" />
  
        <h3>Add break</h3>
        <label for="startBreak">Start break time </label>
        <input  type="time" name="startBreak" />
        <label for="endBreak">End Break time</label>
        <input  type="time" name="endBreak" />
        
        <button type="submit">Send Data</button>
      </form>

      
  
    <a href="/logout">Log out</a>
    
</body>
</html>